<nav class="nav-primary--desktop">
  <div class="nav__logo-container">
    <a href="https://www.covermymeds.com">
      <%=image_tag "cmm_header_logo-f891e2ac0fa3c5131f5bed8ad7a69f587f8f49a41ec59514ec76d73b5802cf1d.png", :class=>"nav__logo"%>
    </a>
  </div>

  <div class="nav__list-container hidden-xs">

    <ul class="nav__list">
      <div class="logged-out-links">
        <li class="nav__link-container">
          <a class="nav__link nav__link--inactive" href="">asdf</a>
        </li>
        <li class="nav__link-container">
          <a class="nav__link nav__link--inactive" href="">asdf</a>
        </li>
        <li class="nav__link-container">
          <a class="nav__link nav__link--inactive" href="">asdf</a>
        </li>
        <li class="nav__link-container">
          <a class="nav__link nav__link--inactive" href="">asdf</a>
        </li>
        <li class="nav__link-container">
          <a class="nav__link nav__link--inactive" href="">asdf</a>
        </li>
        <li class="nav__link-container nav__link-container--divider">
          <div class="nav__divider">|</div> <!-- .nav__divider -->
        </li>
        <li class="nav__link-container">
          <a class="nav__link nav__link--inactive" href="">asdf</a>
        </li>
        <li class="nav__link-container">
          <a class="button button--small" href="/signup">Create a Free Account</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
